* {
    font-family: 'Titillium Web', 'Courier New', Courier, monospace;
}

body {
    background: linear-gradient(30deg, #BF0FFF, #CBFF49);
    height: 100vw;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 2.5rem;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 200px;
    margin: 20px
}

button {
    padding: 50px;
    margin: 20px;
    font-size: 1.5rem;
    border: solid black 5px;
    background-color: #4ECDC4;
}

button:hover {
    cursor: pointer;
    background-color: #31AFA7;
}

input[type='radio'] {
    display: none;
}

input[type='radio'] + img {
    border: 5px black solid;
    background-color: #403D58;
}

input[type='radio']:checked + img {
    background-color: #F18F01;
} 

input[type='radio']:hover + img {
    cursor: pointer;
    border: solid goldenrod 5px;
}